<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br/>
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2018 <strong class="text-upper">1</strong> -2018 <strong>4</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">星星小保项目 | 智阳网络 </span>
                    <p>
                        解决灵活就业人员的社保缴纳问题
                        截止2014年10月，进7000万的注册市场主体，其中80%以上为个体工商户，剩余20%的企业中小微企业占到了绝大比例，劳动就业7.6亿，其中2亿无社保；
                        在此背景下，智阳网络推出个人社保缴纳产品--"星星小保"，为有真实合法中国公民身份的外来务工者（非本地户籍本地缴/异地缴）、自由职业者、个体从业者、待业者解决购房、购车、子女入学、领取生育金等刚性需求及难题
                    </p>
                    <p>开发工具:Idea,Maven,git
                        使用的技术:Springboot,mybtis,MySql数据库,dubbo框架,redis,maven
                        本人负责部分为
                        cas单点登录
                        用户中心注册功能(算法验证码生成,短信校验,用户在账户中心开户,老客户开通服务)
                        支付订单系统
                    </p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2017 <strong class="text-upper">2</strong> -2018 <strong>1</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">分布式销售平台系统 | 凯京集团 </span>
                    <p>
                        公司内部使用的分布式销售平台系统,作为整个业务链的入口.
                    </p>
                    <p>开发工具:Idea,Maven,git
                        使用的技术:Springboot,jpa,MySql数据库,RabbitMQ,HttpClient,MongoDB,feign,redis集群,Apollo配置中心,maven,前端AngularJs框架.
                        本人负责部分为
                        贷后数据监控
                        ERP开票流水收集
                        车贷工作台
                        参与开发在线预览服务初期 已经开源!!!!
                        https://github.com/kekingcn/file-online-preview
                        个体车贷企业车贷开发
                        销售操作日志记录.
                        企业逾期案件个体逾期案件开发</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2017 <strong class="text-upper">4</strong> -2018 <strong>1</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">分布式信审系统 | 凯京集团 </span>
                    <p>
                        销售平台提交进件审批后到信审系统进行信审,调用第三方风控引擎对客户评级.
                    </p>
                    <p>开发工具:Idea,Maven,git
                        使用的技术:SpringMVC,jpa,MySql数据库,RabbitMQ,HttpClient,工作流,Apollo配置中心,maven,redis,poi报表输出,angularJs前端框架
                        本人负责部分为
                        bug修复
                        旧车辆信息显示.
                        个人放款申请
                        车贷授信需求
                        进件审核
                        进件续授信
                        额度体系变更</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2016 <strong class="text-upper">9</strong> - 2017 <strong>2</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">武汉车管局项目 | 苏州讯客软件科技有限公司 </span>
                    <p>武汉车管局项目.
                        原本那边的系统较老. 于是便开发了这个系统. 主要的功能是为了管理车辆的数据.以及查看车辆的实时轨迹.
                    <p>开发工具: Idea,Maven,git.
                    项目技术:SpringBoot,JPA,MySQL,AngularJs,,HttpClient.Maven
                    本人负责的是
                    负责系统管理模块的开发.部门,用户,角色.
                    围栏模块的开发.
                    单据模块的开发.
                    黑名单模块开发.
                    审批配置模块.
                    通行证类别管理模块.
                    通知公告模块开发.
                    接口文档编写,以及协助前端人员调试.</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2016 <strong class="text-upper">3</strong> - 2016 <strong>9</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">爱生活生鲜市场 | 苏州讯客软件科技有限公司 </span>
                    <p>
                        爱生活是一个依托于本地市场的网上购买生鲜的购物平台，用户可以在商城检索商品，下订单，晒评价等。管理员可以在平台后台管理系统中管理商品，订单，会员等，客服可以在后台管理系统中处理用户的询问以及投诉.
                    </p>
                    <p>开发工具:Idea,Maven,git
                        使用的技术:Spring,SpringMVC,Mybatis,MySql数据库,MQ消息中间件,HttpClient,redis集群,solr搜索,ngnix负载均衡,maven
                        本人负责部分为
                        前台系统模块,如商品类目的展示,广告的展示模块;
                        搜索系统模块,
                        登录系统模块，
                        购物车系统模块.</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>2015 <strong class="text-upper">7</strong> - 2016 <strong>1</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">奥特里夫erp项目 | 苏州讯客软件科技有限公司</span>
                    <p>该项目是公司为autoliv公司客户化定制的一块ERP软件，经过七年左右的长期维护，该系统已经成为一个非常稳定且功能强大的系统。它包含了制造，销售，财务，OA等模块。</p>
                    <p>负责制造模块,OA模块的二次开发。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->