<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="col-sm-6 clear-mrg">

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <!--<strong class="progress-title">Java</strong>-->
                    <!--<span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>-->
                    三年java开发经验.希望自己带macbookpro或者公司配mac.熟悉常用设计模式.java基础扎实.熟悉JVM.擅长redis,熟悉mongodb.熟悉springCloud,springboot,springmvc,mybatis,jpa等主流框架.熟悉dubbo框架.熟悉AngularJs,Bootstrap前端开发框架.熟悉docker,kafka,zookeeper.热情于研究新技术.爱研究开源项目.
                </div>


            </div>
            


            </div>

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->